/* all */
@font-face{
    font-family: 'Gotham-Black';
       src: url('font/Gotham-Black.eot');
       src: url('font/Gotham-Blackd41d.eot?#iefix') format('embedded-opentype'),
       url('font/Gotham-Black.ttf') format('truetype'),
       url('font/Gotham-Black.woff') format('woff'), /* Modern Browsers */
       url('font/Gotham-Black.otf') format('opentype'); /* Open Type Font */
     }
     
 @font-face {
     font-family: 'Noto_BK';
       src: url('font/NotoSansCJKkr-Black.eot');
       src: url('font/NotoSansCJKkr-Blackd41d.eot?#iefix') format('embedded-opentype'),
       url('font/NotoSansCJKkr-Black.ttf') format('truetype'),
       url('font/NotoSansCJKkr-Black.woff') format('woff'),
       url('font/NotoSansCJKkr-Black.otf') format('opentype');
   }
   
 @font-face {
     font-family: 'Noto_BL';
       src: url('font/NotoSansCJKkr-Bold.eot');
       src: url('font/NotoSansCJKkr-Boldd41d.eot?#iefix') format('embedded-opentype'),
       url('font/NotoSansCJKkr-Bold.ttf') format('truetype'),
       url('font/NotoSansCJKkr-Bold.woff') format('woff'),
       url('font/NotoSansCJKkr-Bold.otf') format('opentype');
   }
   
 @font-face {
     font-family: 'Noto_DL';
       src: url('font/NotoSansCJKkr-DemiLight.eot');
       src: url('font/NotoSansCJKkr-DemiLightd41d.eot?#iefix') format('embedded-opentype'),
       url('font/NotoSansCJKkr-DemiLight.ttf') format('truetype'),
       url('font/NotoSansCJKkr-DemiLight.woff') format('woff'),
       url('font/NotoSansCJKkr-DemiLight.otf') format('opentype');
   }
 
 @font-face {
     font-family: 'Noto_LT';
       src: url('font/NotoSansCJKkr-Light.eot');
       src: url('font/NotoSansCJKkr-Lightd41d.eot?#iefix') format('embedded-opentype'),
       url('font/NotoSansCJKkr-Light.ttf') format('truetype'),
       url('font/NotoSansCJKkr-Light.woff') format('woff'),
       url('font/NotoSansCJKkr-Light.otf') format('opentype');
   }  
 
 @font-face {
     font-family: 'Noto_MD';
     src: url('font/NotoSansCJKkr-Medium.eot');
   src: url('font/NotoSansCJKkr-Mediumd41d.eot?#iefix') format('embedded-opentype'),
       url('font/NotoSansCJKkr-Medium.ttf') format('truetype'),
       url('font/NotoSansCJKkr-Medium.woff') format('woff'),
       url('font/NotoSansCJKkr-Medium.otf') format('opentype');
   }
   
 @font-face {
     font-family: 'Noto_RG';
     src: url('font/NotoSansCJKkr-Regular.eot');
       src: url('font/NotoSansCJKkr-Regulard41d.eot?#iefix') format('embedded-opentype'),
       url('font/NotoSansCJKkr-Regular.ttf') format('truetype'),
       url('font/NotoSansCJKkr-Regular.woff') format('woff'),
       url('font/NotoSansCJKkr-Regular.otf') format('opentype');
   }
   
 @font-face {
     font-family: 'Noto_TH';
     src: url('font/NotoSansCJKkr-Thin.eot');
     src: url('font/NotoSansCJKkr-Thind41d.eot?#iefix') format('embedded-opentype'),
     url('font/NotoSansCJKkr-Thin.ttf') format('truetype'),
     url('font/NotoSansCJKkr-Thin.woff') format('woff'),
     url('font/NotoSansCJKkr-Thin.otf') format('opentype');
 }
 
 @font-face {
   font-family: 'GmarketSansMedium';
   src: url('font/GmarketSansMedium.eot');
   src: url('font/GmarketSansMediumd41d.eot?#iefix') format('embedded-opentype'),
        url('font/GmarketSansMedium.ttf') format('truetype'),
        url('font/GmarketSansMedium.woff') format('woff'),
        url('font/GmarketSansMedium.otf') format('opentype');
 }
 
 @font-face {
   font-family: 'GmarketSansLight';
   src: url('font/GmarketSansLight.eot');
   src: url('font/GmarketSansLightd41d.eot?#iefix') format('embedded-opentype'),
        url('font/GmarketSansLight.ttf') format('truetype'),
        url('font/GmarketSansLight.woff') format('woff'),
        url('font/GmarketSansLight.otf') format('opentype');
 }
 
 @font-face {
   font-family: 'GmarketSansBold';
   src: url('font/GmarketSansBold.eot');
   src: url('font/GmarketSansBoldd41d.eot?#iefix') format('embedded-opentype'),
        url('font/GmarketSansBold.ttf') format('truetype'),
        url('font/GmarketSansBold.woff') format('woff'),
        url('font/GmarketSansBold.otf') format('opentype');
 }
 
 @font-face {
 font-family: 'RixBusanStationPH';
 src: url('font/RixBusanStationPH.eot'),
      url('font/RixBusanStationPH.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
 }