@charset "utf-8";

.tt { border: 1px solid red;  }
.overx {overflow: hidden;}

/* ************** common ************ */

/********** 헤더 **********/
#head {position: sticky; top: 0; width: max(var(--min-width-page), 100%); z-index:555;}


/* 최상단검정 배경  */
#head_top {position: sticky; top: 0; width: max(var(--min-width-page), 100%); background:#666;}
#head_top #head_top_nav { width: max(var(--min-width-page)); height: 32px; margin: 0px auto; cursor: default; background:#666;}
#head_top #head_top_nav .head_top_right { height: 32px; position: relative; bottom: 3px;}

#head_top_nav .head_top_left img.top_location_icon { vertical-align: -2px; margin-right:6px; }
#head_top_nav .head_top_left img.top_left_line{ margin:0 4px 0 5px; }
#head_top_nav .head_top_left span{ color:#fff; opacity: 0.8; }
#head_top_nav .head_top_left { float: left; line-height: 32px; }
#head_top_nav .head_top_left a{ display: contents; }
#head_top_nav .head_top_left a, #head_top_nav .head_top_right a, #head_top_nav .head_top_right, #head_top_nav .head_top_left {color: #fff; font-size: 13px; font-weight: 300;}
#head_top_nav .head_top_right { float: right; line-height: 37px; }


	/* 좌측 대표번호, 로고, 우측 지점 안내 */
#head_main {/* width:100%; min-width:1200px; */width: max(var(--min-width-page),100%); background:#fff; height: 88px;
  display: grid;
    place-items: center; border-bottom:1px solid #e8e8e8;}
/* #head_main .head_main_wrap {overflow:hidden; position:absolute; width: max(var(--min-width-page)); margin:0 auto; text-align:center;} */

#head_main .head_main_wrap {
  position: absolute;
  text-align: center;
  width:1280px; 
  height:88px; 
  margin: 0 auto;
  }
  
#head_main .head_main_wrap .top_left{ width: 220px; display: inline-block; text-align: left; position:absolute;  left: 0px;}
#head_main .head_main_wrap .top_left .call_num{ display: inline-block; font-family: 'pretendard'; font-size: 26px; font-weight: 700; color: var(--color-black);}
#head_main .head_main_wrap .top_left .call_text{ display: inline-block; font-family: 'pretendard'; font-size: 13px; font-weight: 400; color: #0A0D1C;}
#head_main .head_main_wrap .top_center{ display: inline-block;
  left: 50%; transform: translateX(-50%); position: absolute;}
#head_main .head_main_wrap .top_right {display:inline-block; width:220px; height: 88px;text-align: right; position:absolute; right: 0px;}
#head_main .head_main_wrap .top_logo {display:inline-block; width:220px; margin-top:20px;}
#head_main .head_main_wrap .top_logo img {/* display:none; */width:100%;}
	/* 로고 좌측 대표번호 */
#head_main .fixed_call {float: left; width: 290px; height: 100%; padding-top: 20px;}
#head_main .fixed_call .icon_wrap {overflow:hidden; float:left; width: 50px; padding: 0px 0px 0 0;}
#head_main .fixed_call .icon_wrap img {width: 100%;}
#head_main .fixed_call .icon_wrap .actionCon {position:absolute; top: 39px; left: 22px;}
#head_main .fixed_call ul {float:left; text-align: left; line-height: 1.2;}
#head_main .fixed_call ul li:first-child {color: #222; font-size: 26px; font-weight: 700;}
#head_main .fixed_call ul li:last-child {padding-left:2px; color:#0a0d1c; font-size:13px;}




/* 로고 우측 인증마크  */
.header_direction {float: right; width: 380px; margin: 20px 0 0 5px; text-align: right; height: 88px;}
.header_direction .icon_wrap {float: right; width: 50px; height: 50px; 
    border-radius: 50%; margin-right: 5px; padding-top: 0px; text-align: center;}
.header_direction .icon_wrap img {width: 50px; height: 50px; text-align: center;}
.header_direction .goyong {float: left; width: 191px; 
    border-radius: 50%; margin-right: 5px; padding-top: 0px; text-align: center;}
.header_direction .goyong img {width: 191px; text-align: center; margin-top: 15px;}


/* ///End : Header-Nav */



	/* GNB 풀다운메뉴 */
  #head_nav {width: max(var(--min-width-page), 100%); background:#fff; position:relative; margin:0 auto; border-bottom:1px solid #001637;}
  #head_nav>ul {overflow:hidden; position:relative; width:1280px; min-width:1280px; height:50px; margin:0 auto; line-height:3.2; cursor: pointer; z-index: 1;}
  #head_nav>ul li {display:inline-block; text-align:center;}
  #head_nav>ul li:nth-child(even) {/* width:118px; */width:133px; height:100%;}
  #head_nav>ul li a {display:inline-block; /*padding: 0.1rem;*/ color:#222; font-size:16px; vertical-align:1px; cursor:pointer;}
  #head_nav>ul li a:hover {color:var(--color-ict);}
  
  #head_nav .head_nav_ul {width: 100%; text-align: center; border-bottom:1px solid #f8f8f8;}
  #head_nav .head_nav_ul .mainmenu {width: 200px;}
  

/* sub_top #head_nav = .head_nav_hide */
.sub_head { width: 100%;}
.sub_head #head_nav {  border-bottom:1px solid #e8e8e8;}
.sub_head .head_nav_ul {position:absolute; width:100%; background:#fff;}
.sub_head .head_nav_ul li a::before {content:''; position:absolute; width:100%; width:0px; left: 0; right: 0; bottom: 0; height: 1px; background:#fff;}
.sub_head #head_nav {height:50px;}
.sub_head .menu {border-bottom:0px solid #dfe6f1;}

/* ********* footer******* */



  #head_nav .fulldown {overflow:hidden; z-index:0; position:absolute; width:100%;   margin: 0 auto;
  left: 50%; background:#fff;
  transform: translateX(-50%);
  height: 250px;
      height:50px; padding-top: 50px; /* background:#fff; */} 
  
  #head_nav .fulldown .menu {position:relative; top:50px;top:0; left: 12px; width:100%; opacity:1; background:#fff;}
  #head_nav .fulldown .menu>ul { width:1280px; background:#fff; margin:0 auto; text-align: center;}
  #head_nav .fulldown .menu>ul li.submenu {float:left; /* width:125px; */width:200px; height:200px; box-sizing:border-box; 
                                          padding:8px 0; margin-left: 4px; margin-right: 4px;}
  /* #head_nav .fulldown .menu>ul li.submenu:hover{ background:#f2f5fa; } */
  #head_nav .fulldown .menu>ul li.submenu ul { width:100%; }
  #head_nav .fulldown .menu>ul li.submenu ul li {padding:6px 0; text-align:center;}
  #head_nav .fulldown .menu>ul li.submenu ul li a {display:inline-block; width:100%; color:#222; font-size:14px; letter-spacing:-0.07em; white-space: nowrap; font-weight:400;}
  #head_nav .fulldown .menu>ul li.submenu ul li a:hover { color:var(--color-ict); }
  
  #head_nav .fulldown .menu>ul li.submenu .actionCon {box-sizing:border-box; display:inline-block; position:relative; top:-4px; right:-18px; margin-left:-18px; padding:2px 3px; width:34px; height:20px; background:url("../img/icons/bottom_info_icon.png") no-repeat;}
  #head_nav .fulldown .menu>ul li.submenu .actionType5_1 {padding-left:5px;}
  #head_nav .fulldown .menu>ul li.submenu .actionType5_1 > div {width:auto; height:auto; color:#fff; background:transparent; font-size:10px; border-radius:0; -webkit-border-radius:0;
     transform:scale(1); -webkit-transform:scale(1); -moz-transform:scale(1); animation:lodingText ease-in-out 1.5s infinite; -webkit-animation:lodingText ease-in-out 1.5s infinite; -moz-animation:lodingText ease-in-out 1.5s infinite;}
  #head_nav .fulldown .menu>ul li.submenu .actionType5_1 .loding1 {
     animation-delay:-.5s;
     -webkit-animation-delay:-.5s;
     -moz-animation-delay:-.5s;
  }
  #head_nav .fulldown .menu>ul li.submenu .actionType5_1 .loding2 {
     animation-delay:-.3s;
     -webkit-animation-delay:-.3s;
     -moz-animation-delay:-.3s;
  }
  #head_nav .fulldown .menu>ul li.submenu .actionType5_1 .loding3 {
     animation-delay:-.1s;
     -webkit-animation-delay:-.1s;
     -moz-animation-delay:-.1s;
  }
  @keyframes lodingText {
    0% {
      opacity:1;
    }
    
    60%,100% {
      opacity:0;
    }
  }
  @-webkit-keyframes lodingText {
    0% {
       opacity:1;
    }
    
    60%,100% {
        opacity:0;
    }
  }

  













html, body {/* background: var(--color-bg-gray); */}
html {width: max(var(--min-width-page), 100%); font-size: 16px;font-size: var(--font-size-content);} /* 리뉴얼 순차 진행으로 html에 16px 넣고, .content_wrap에 18px 넣음. */






/* 공통 */
.sr-only {position: absolute; overflow: hidden; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0,0,0,0);} /* 스크린리더에만 읽히고, 화면에서는 제외 */

/* float을 해제할 부모요소에 .cf_2023 */
.cf {zoom:1; /* ie 6,7 */}
.cf::before {content:" "; display:table;}
.cf::after {clear:both;}


	/* 기본 구성 .content_wrap */
.content_wrap {overflow: hidden; margin: 0 auto; font-size: 18px;}
.page_title {}

.content_section {overflow: hidden; /* width: 100%; */width: var(--min-width-page); margin: 0 auto;}
.content_section .content {margin: 0 auto;}
	/* 메인 */
	.main_wrap.content_wrap {font-size: 16px;}
	/* 서브 */


/*  */ /* 45px 700 */ /* 20px 400 > 500 */
/* //서브_2023 리뉴얼 시 사용하지 않기 + 리뉴얼 완료 후 삭제 */

/********** 타이틀/서브타이틀/컨텐츠타이틀 **********/
.section_title { font-family: 'pretendard'; font-weight: 700; font-size: var(--font-size-sectiontitle);
  padding-top: var(--padding-top-section); color:var(--color-black);  text-align: center; line-height: 56px;}

.section_subtitle { font-family: 'pretendard';
  padding: 15px 0 var(--padding-common); color:var(--color-gray1); font-weight: 500; font-size: var(--font-size-contentsubtitle); text-align: center; line-height: 24px;} /* 20px 400 > 500 */ /* 26px 500 */ /* 20px 500 */
#main_curriculum .content_explain {font-family: 'pretendard'; color:var(--color-black); font-weight: 600; font-size: 15px; line-height: 1.2; margin-top: 10px;} 
#main_curriculum .content_date {font-family: 'pretendard'; color:var(--color-gray1); font-weight: 500; font-size: 13px; line-height: 2;} 

/* allview Btn */
.allview_btn {display: inline-block; position: absolute;
  right: 0px; width: 178px; height: 54px; 
  font-family: 'pretendard'; color: var(--color-dark); font-weight: 400; font-size: 15px; line-height: 1.5; text-align: center;} 
.allview_btn:hover {color: var(--color-ict);}

/* 메인 */
.main_wrap .section_title {font-family: 'pretendard'; padding-top: 90px;padding-top: 80px; font-size: 40px;}
.main_wrap .section_subtitle {font-family: 'pretendard'; position: relative; padding: 5px 0 46px; font-weight: 400; font-size: 18px;}
.content_subtitle_main {color:#222; font-weight: 600; font-size: 14px;}
.content_explain_main {color: #666; font-weight: 400; font-size: 13px;}


/* ICT스토리 테이블 */
.content_explain_table_title {font-family: 'pretendard'; color: var(--color-black); font-weight: 700; font-size: 14px;}
.content_explain_table_text {font-family: 'pretendard'; color: var(--color-silver); font-weight: 400; font-size: 13px;}

/*  */
.content_wrap img {width:100%;}
.content_wrap table {width: 100%;}


.list_thumb_item {transition: transform .25s ease; cursor: pointer;}





/* 교육생 후기 박스전용 */

.main_interview_section .section_title {font-family: 'pretendard'; padding-top: 120px; padding-top: 80px; font-size: 40px;}
.main_interview_section .section_subtitle {font-family: 'pretendard';position: relative; padding: 5px 0 80px; font-weight: 400; font-size: 18px;}

    .list_thumb_4 .list_thumb_item .item_content2 {display: -webkit-box; display: -moz-box; display: flex; -webkit-box-orient: vertical; -moz-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -moz-justify-content: space-between; justify-content: space-between; height: 360px; padding: 20px 18px; border-radius: 10px; border: 1px solid var(--color-silver);}



  .list_thumb_4 {display: grid; grid-template-columns: repeat(4, 290px); gap: 32px; width: 100%; margin: 0 auto;}
  .list_thumb_4 .list_thumb_item {background-color: #fff;}
  .list_thumb_4 .list_thumb_item .item_content_top {height: 65px;}
  .list_thumb_4 .list_thumb_item .item_content_top .content_explain_blue_main {padding-bottom: 5px; border-bottom: 1px solid var(--color-silver);}
  .list_thumb_4 .list_thumb_item .item_content_top hr {color: var(--color-light);}
  .list_thumb_4 .list_thumb_item .item_content_bottom {}
  .main_wrap .list_thumb_4 .list_thumb_item:hover {transform: translateY(-5px);}
  .content_wrap .swiper {/* overflow: visible; */}
  .content_wrap .swiper-wrapper {transition-timing-function: linear;} /* 자동으로 흐르게 할 경우 해당 클래스 추가 */
  .content_explain_blue_main {color: var(--color-ict); font-weight: 400; font-size: 16px; height: 50px; padding-top: 20px;}


  .btn_s {display: inline-block; width: 178px; height: 54px; font-weight: 600; font-size: 15px; line-height: 54px; text-align: center;} /* 사각버튼 */


/* ************* ictmain ************* */












/********** 메인 css **********/

/********** 메인배너 - 395 > 470 > 524 **********/
#body_main {position:relative; overflow:initial; height:524px;}
#rolling_page {height:524px; float:left; width:100%; position:relative;}

.banner {display:none; box-sizing:border-box; position:absolute; height:524px; width:100%; background-size: contain;background-size: auto 100%; background-position:center; background-repeat:no-repeat; text-align:left;}
.banner *, .banner *::before, .banner *::after {box-sizing:inherit;}
.banner .banner_text {width:1280px; margin:0 auto; padding:80px 55px 0; color: #fff;}
.banner_text .banner_title_letter {
  font-family:'pretendard', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px; font-weight: 400;

}
.banner_text .banner_title_header {
  font-family:'pretendard', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 48px; font-weight: 700;
}
.banner_text .banner_title_text   {
  font-family:'pretendard', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px; font-weight: 100;
  margin-top: 50px;
}

.banner_text .banner_title2 span {height:68px; opacity:0; color:inherit; font-weight:700; font-size:60px; line-height:68px; letter-spacing:0;}


.banner_text .banner_title2 {opacity:0; animation-name:typing; animation-fill-mode:forwards; animation-iteration-count:1;}
.banner_text .banner_title2 span {height:68px; opacity:0; color:inherit; font-weight:700; font-size:60px; line-height:68px; letter-spacing:0;}
.banner_text .banner_title2 span {animation-name:typing; animation-duration:0.5s; animation-fill-mode:forwards; animation-iteration-count:1;}
.banner_text .banner_subtitle {height:100px; padding:22px 0 47px 8px; font-weight:400; font-size:24px; letter-spacing:0;}


.banner_text .banner_button {position:relative; display:inline-block; 
  border-radius:10px; padding:0 30px; font-weight:600; font-size:18px; 
  line-height:2; letter-spacing:-0.04em;
  background-color: var(--color-light);
  color: var(--color-black);
  top: 200px;
  opacity: 0.5;
}
.banner_text .banner_button:hover {
  background-color: var(--color-ict);
  color: var(--color-light);
} 

.banner_text .banner_button::before {content:""; position:absolute; 
  top:0; left:0; width:100%; height:100%; border-radius:15px; 
  box-shadow:0px 10px 24px 0px rgba(31, 31, 31, 0.2); mix-blend-mode:multiply;}








#pager {position:absolute; left:0; right:0; width:1300px; margin:0 auto; text-align:center;}
#pager .pager_position {display:inline-block; position:absolute; top:480px; left:50%; transform:translateX(-50%); vertical-align:middle;}
#slick-pause, #slick-start {display:inline-block; width:19.5px; height:12px; text-indent:-9999px;  cursor:pointer; margin-left:5px;}
#slick-pause {background:url(../images/main/main_renewal/main_rolling_stop.png)no-repeat center center;}
#slick-start {background:url(../images/main/main_renewal/main_rolling_play.png)no-repeat center center; display:none;}
#pager .banner_left, #pager .banner_right {position:absolute; display:block; padding:0; border:none; outline:none; font-size:0; cursor:pointer;}
#pager .banner_left {left:0; top:227px; width:70px; height:70px; background: url(../images/main/main_renewal/sub/sub02/arrow_prev.png) no-repeat; cursor:pointer;}
#pager .banner_right {right:0; top:227px; width:70px; height:70px; background: url(../images/main/main_renewal/sub/sub02/arrow_next.png) no-repeat; cursor:pointer;}

#main_bigblock1_pager{ display: block; }
#main_bigblock1_pager a { display: block; float: left; width: 12px; height: 12px; cursor: pointer; background: #dfe6f1; margin: 0 4.5px; border-radius: 6px 6px 6px 6px;
-moz-border-radius: 6px 6px 6px 6px; -webkit-border-radius: 6px 6px 6px 6px; -webkit-transition: all 0.25s ease-in-out; -moz-transition: all 0.25s ease-in-out; -o-transition: all 0.25s ease-in-out;
-ms-transition: all 0.25s ease-in-out; transition: all 0.25s ease-in-out; }
#main_bigblock1_pager a:after{ content:""; display: table; clear: both; } 


/********** 메인배너 아래 퀵메뉴 **********/


/********** 메인 공통 **********/
:root {
	--main-color-blue: #164ad0;
	--main-color-cyan: #34dcfa;
}
.main_wrap {cursor: default;}
.main_wrap .content_section {position: relative; overflow: visible;}
.main_wrap .btn_main {position: absolute; /* top: 120px; */bottom: 50px; right: 0; border: 1px solid var(--color-ict); background-color: transparent; color: var(--color-ict); line-height: 52px; transition: all .25s ease;}
/* .main_wrap .btn_main::after {content: ''; position: absolute; top: 20px; right: 15px; width: 6px; height: 12px; background: url(/resources/images/common/btn_arrow_right_blue.svg); background-repeat: no-repeat; background-position: center; background-size: contain; transition: all .25s ease;} */
.main_wrap .btn_main::after {content: ''; float: right; width: 6px; height: 12px; margin: 20px 15px 0 -15px; background: url(h../img/icons/btn_arrow_right_blue.png); background-repeat: no-repeat; background-position: center; background-size: contain; transition: all .25s ease;}
.main_wrap .btn_main:hover {background-color:  var(--color-ict); color: #fff;}
.main_wrap .btn_main:hover::after {background: url(../img/icons/btn_arrow_right_blue.png);}

	/* 교육과정, 전국 지점 안내 아이콘 animation */

/********** 교육과정 **********/
.main_curriculum_section {padding-bottom: 100px;padding-bottom: 30px;}
.main_curriculum .curriculum_list {display: grid; grid-template-columns: repeat(4, 1fr); grid-template-rows: repeat(2, 270px); gap: 14px; grid-template-areas:
"curriculum_item1 curriculum_item2 curriculum_item3 curriculum_item4" 
"curriculum_item5 curriculum_item6 curriculum_item7 curriculum_item8";}
.main_curriculum .curriculum_item {position: relative; overflow: hidden; cursor: pointer; height: 450px; width: 290px;}

.main_curriculum .curriculum_item::before {content: ''; position: absolute; 
    top: 0; left: 0; z-index: 1; width: 100%; height: 100%; }
.main_curriculum .curriculum_item:hover .curriculum_item_border {opacity: 1;}
.main_curriculum .curriculum_item .curriculum_item_border {position: absolute; z-index: 2; opacity: 0;}

/*전체 개강일정 버튼*/

	
		/* 전체 개강일정 */
        .main_curriculum .curriculum_item1 {grid-area: curriculum_item1;}



        /* 취업과정 공통 */

        .main_curriculum .curriculum_item2 {grid-area: curriculum_item2;}
        .main_curriculum .curriculum_item3 {grid-area: curriculum_item3;}
        .main_curriculum .curriculum_item4 {grid-area: curriculum_item4;}
		/* 정보보안 */


        .main_curriculum .curriculum_item_light {padding: 1px 1px 0; border-radius: 20px;}
        .main_curriculum .curriculum_item_light::before {border-width: 1px; border-radius: 20px;}
        .main_curriculum .curriculum_item_light:hover::before {border-width: 1px; border-color: var(--color-ict); opacity: 0.2;}
        .main_curriculum .curriculum_item_light .content_explain {color: var(--color-black); 
            font-family: 'Pretendard','Bahnschrift'; font-size: 14px;}
        .main_curriculum .curriculum_item_light .content_text {color: var(--color-silver); 
            font-family: 'Pretendard','Bahnschrift'; font-size: 14px;}
        
        .main_curriculum .curriculum_item_light img{width: 270px;}
        .main_curriculum .curriculum_item_light .content_date {color: var(--color-silver); 
            font-family: 'Pretendard','Bahnschrift'; font-size: 14px;}

.main_curriculum .curriculum_item4 .content_explain {font-weight: 600; font-size: 15px;}



/********** 띠배너 **********/
.main_band_section {width: 100%; height: 306px;}
.main_band_section .content {width: var(--min-width-page);}
.main_band_section .section_title {padding: 60px 0 38px; color: #fff;}


.main_wrap .main_direction_section {overflow: hidden; /* z-index: 1; */ width: 100%; height: 500px; color: #fff; text-align: center;}


/************* 성공이미지 타이틀 *******************  */

.main_direction_section .section_title {
  color: var(--color-light);
  font-family: 'pretendard';
  display: grid;
  align-items: center; /* 세로 중앙 정렬 */
  min-height: 400px; /* 최소 높이를 뷰포트 높이의 100%로 설정 */
  }








	/* 결과 수치 */
.main_wrap .main_result_section {overflow: hidden; z-index: 1; height: 600px; 
  background: linear-gradient(to right, #1d3ba5, #252b51); color: #fff;}

.main_result_section .result_bg {position: absolute; top: 0; left: 0; z-index: -1; 
  width: 100%; height: 100%;  background: url(../images/main/main_result_bg.jpg) no-repeat center/cover;}

.main_result {display: flex;}
.main_result .result_item {width: -webkit-calc((1130px - 20px) / 4); width: calc((1130px - 20px) / 4); text-align: center;}
.main_result .result_item:not(:last-child)::after {content: ''; float: right; width: 1px; height: 53px; margin: -75px 0 0 0; opacity: .2; background: #fff;}
.main_result .result_item .result_item_title {font-weight: 500; font-size: 18px; text-align: left;}
.main_result .result_item .result_item_title span {padding-left: 5px; color: #a5a8be; font-weight: 400; font-size: 13px;}
.main_result .result_item .result_item_count {font-weight: 500; font-size: 30px;}
.main_result .result_item .result_item_count .count {font-family: pretendard; font-weight: 700; font-size: 22px; vertical-align: -2px; color: #34dcfa;}

.main_result .result_item1 .result_item_title {padding-left: 24%;}
.main_result .result_item2 {width: -webkit-calc((1130px - 20px) / 4 + 20px); width: calc((1130px - 20px) / 4 + 20px);}
.main_result .result_item2 .result_item_title {padding-left: 16%;}
.main_result .result_item2 .result_item_count::after {content: '+'; margin-left: 2px; vertical-align: 22px; font-size: 24px;}
.main_result .result_item3 .result_item_title {padding-left: 21%;}
.main_result .result_item4 .result_item_title {padding-left: 26%;}




















/********** 취업현황 **********/
.main_status_section {padding-bottom: 90px;}

.main_status .status_list {display: grid; grid-template-columns: repeat(2, 1fr); gap: 0 60px; line-height: 1;}
.main_status .status_list_item {display: -webkit-box; display: -moz-box; display: flex; -webkit-box-pack: justify; -moz-justify-content: space-between; justify-content: space-between; align-items: center; padding: 20px 12px 20px 0px; cursor: pointer;}
.main_status .status_list_item:not(:nth-last-child(-n+2)) {border-bottom: 1px solid #e5e8ec;}
.main_status .status_list_item .content_subtitle_main::before {content: ''; display: inline-block; width: 34px; height: 34px; border-radius: 50%; margin-right: 12px; background-repeat: no-repeat; background-position: center; vertical-align: middle; transition: all .25s ease;}
.main_status .status_java .content_subtitle_main::before {background-image: url(./assets/img/icons/icon_status_new_off.png); background-size: 34px;}
.main_status .status_list_item .content_explain_main::after {content: ''; display: inline-block; width: 6px; height: 12px; margin: 0px 0 -1px 18px; background: url(https://khedu.co.kr/resources/images/common/btn_arrow_right_gray.svg); background-repeat: no-repeat; background-position: center; background-size: contain;}

.main_status .status_list_item:hover .content_subtitle_main {color: var(--color-ict);}
.main_status .status_java:hover .content_subtitle_main::before {
    background-image: url(./assets/img/icons/icon_status_new_on.png);}






/********** 교육생 후기 **********/
.main_interview .list_thumb_item {box-shadow: 0px 6px 24px 0px rgba(5, 5, 5, .05); width: 290px;}
.main_interview .content_explain_main {width: fit-content;}
.main_interview .content_explain_main::after {content: ''; display: inline-block; width: 5px; height: 9px; margin: 0 0 1px 7px; opacity: .7; 
  background: url(); background-repeat: no-repeat; background-position: center; background-size: contain;}
.main_interview .content_subtitle_main{font-family: 'pretendard'; padding-top: 15px; color: var(--color-gray1); font-weight: 400;}

/* detailview Btn */
.item_content2 .detailview_btn {font-family: 'pretendard'; font-weight: 400; font-size: 12px; line-height: 1.5; 
  position:relative; bottom: 10px var(--color-dark); text-align: right;} 

.item_content2 .detailview_btn:hover {color: var(--color-ict);}

/* 교육 후기 */
.double-quotation img { width: 20px; height: 15px;}









/********** ICT스토리 **********/
/********** 새로운 소식 **********/
.main_story_wrap {width: 100%; padding-bottom: var(--padding-bottom-content); margin-bottom: 47px; background-color: #f6f8fc;}
.main_story_section .btn_main {background-color: #f2f5fa;}

.main_story_wrap  .section_title {font-family: 'pretendard'; padding-top: 90px; padding-top: 80px; font-size: 40px; color: var(--color-black);}
.main_story_wrap  .section_subtitle {font-family: 'pretendard'; position: relative; padding: 5px 0 46px; font-weight: 400; font-size: 18px; color: var(--color-black);}

  .main_story_wrap .main_story_section .item_content_top {  
    margin-left: 30px; margin-left: 40px; padding: 10px;
  }
  .main_story_wrap .main_story_section .item_content_top img { width: 30px; float: left;}
  .main_story_wrap .main_story_section .content_explain_table_title {
    font-family: 'pretendard'; font-weight: 700;  font-size: 14px; color: var(--color-black); padding-left: 20px;
    line-height: 1.5;    ;
  }
  .main_story_wrap .main_story_section .content_explain_table_text {
    font-family: 'pretendard';  font-size: 14px; color: var(--color-gray1); margin-left: 20px;}
.hr2 {display: block; width: 90%; height: 1px; border: 0px; 
    background-color: var(--color-silver); margin-top: 15px; margin-bottom: 10px;}

















/* Footer */
.bottom {width: 100%; padding-bottom: var(--padding-bottom-content); margin-bottom: 47px; background-color: #f6f8fc;}

.subcopy, .maincopy {font-family: 'pretendard'; font-size: 14px; font-weight: 400;color: var(--color-dark); }
.header_direction .icon_wrap2 img {width: 30px; display: inline-block; margin: 20px; position: relative; z-index: 101;}
.main_curriculum .curriculum_item_light .content_explain {color: var(--color-dark); 
    font-family: 'Pretendard','Bahnschrift'; font-size: 14px;}
.main_curriculum .curriculum_item_light .content_text {color: var(--color-silver); 
    font-family: 'Pretendard','Bahnschrift'; font-size: 14px;}

.main_curriculum .curriculum_item_light img{width: 270px;}
.main_curriculum .curriculum_item_light .content_date {color: var(--color-silver); 
    font-family: 'Pretendard','Bahnschrift'; font-size: 14px;}

.bottom_info_right .bottom_cont .sns_img{width: 30px; margin: 0px; display: inline-block;}
.bottom_info_right .bottom_cont .sns_img>img{width: 15px;}
.bottom_info_right{margin-top: 20px;}

/* ************* css1454 *********** */


@import url('///cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
/* 공통 */
* { margin: 0; padding: 0; }

html {font-weight:500; font-size:15px; line-height:1.3;}
.hr { background-color: var(--color-light); width: 100%; }
ul, li { list-style: none;}
img { border: 0; }
a { text-decoration: none; outline:none; }

 

/* float을 해제할 부모요소에 .cf 혹은 .clearfix */
.cf:after { content: ""; display: block; clear: both; visibility: hidden; line-height: 1%; height: 0; }

/* 모션 - 점 3개, nav ING */
.actionType5_1 > div {
   display:inline-block;
   width:2px;
   height:2px;
   float: left;
   margin-right:2px;
   border-radius:50%;
   -webkit-border-radius:50%;
   transform:scale(0);
   -webkit-transform:scale(0);
   -moz-transform:scale(0);
   background:#222;
   animation:lodingCircle1 ease-in-out 1.5s infinite;
   -webkit-animation:lodingCircle1 ease-in-out 1.5s infinite;
   -moz-animation:lodingCircle1 ease-in-out 1.5s infinite; 
}
.actionType5_1 .loding1 {
   animation-delay:-.5s;
   -webkit-animation-delay:-.5s;
   -moz-animation-delay:-.5s;
}
.actionType5_1 .loding2 {
   animation-delay:-.3s;
   -webkit-animation-delay:-.3s;
   -moz-animation-delay:-.3s;
}
.actionType5_1 .loding3 {
   margin-right:0;
   animation-delay:-.1s;
   -webkit-animation-delay:-.1s;
   -moz-animation-delay:-.1s;
}
@keyframes lodingCircle1 {
  0% {
    transform:scale(1);
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    opacity:1;
  }
  10% {
    transform:scale(1.2);
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
  }
  60%,100% {
    transform:scale(0);
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    opacity:0;
  }
}
@-webkit-keyframes lodingCircle1 {
  0% {
     transform:scale(1);
     -webkit-transform:scale(1);
     -moz-transform:scale(1);
     opacity:1;
  }
  10% {
     transform:scale(1.2);
     -webkit-transform:scale(1.2);
     -moz-transform:scale(1.2);
  }
  60%,100% {
      transform:scale(0);
      -webkit-transform:scale(0);
      -moz-transform:scale(0);
      opacity:0;
  }
}


/* head */


/* bottom */
#bottom { /* width: 100%; min-width: 1280px; */width: max(var(--min-width-page), 100%); background: #fff;  position: relative; /* margin-top:50px; */ }
#bottom img { width: auto; margin-left: -20px;}

	/* 스캠, 채널온, 교육원소개 링크이동 모션 */ /*border-radius: 50%; z-index: 1;*/
/*아이콘 바꾸며 없앤 효과.bottom_icon_wrap .icon_effect .icon { box-shadow: 0 0 0 2px #dae0e9; }*/
/* .bottom_icon_wrap .icon_effect .icon:hover:after { -webkit-transform: scale(0.92); -moz-transform: scale(0.92); -ms-transform: scale(0.92); transform: scale(0.92); } */


#bottom_info { /* width: 100%; min-width: 1200px; */width: max(var(--min-width-page), 100%); background: #f2f5f9; height: 52px; }
.bottom_info_wrap { width: 1130px; margin: 0 auto; overflow: hidden; }
.bottom_info_left {position:relative; float: left; color: #555c64;}
.bottom_info_left a { padding: 0 10px;  color: #222; line-height: 53px; }
.bottom_info_left a:hover { color: #ff0000; }
.bottom_info_right { float: right; margin-top:14px; position: relative; }
.bottom_info_right a { background: url('../images/main/main_renewal/top_icon_bottom.png'); display: block; width: 54px; height:25px; }
.bottom_info_right a:hover { }
.bottom_info_right .top_arrowicon{ position: absolute; right: 0px; top: 0px; cursor:pointer; }


/*공통으로 사용되는 동그란 화살표 애니메이션*/
 
/*자바&보안 화살표 애니메이션*/

#body_main{ overflow:hidden; border-bottom: 1px solid #d5d5d5; }


/*중간 퀵메뉴 애니메이션*/

/*하단 top아이콘 애니메이션*/
@-webkit-keyframes quick-wobble-vertical2 {
  16.65% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  33.3% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  49.95% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes quick-wobble-vertical2 {
  16.65% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  33.3% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  49.95% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.bottom_info_right .quick-wobble-vertical2 {
  display: inline-block;
  -webkit-transform: perspective(1px) translateZ(0);
}

.bottom_info_right .quick-wobble-vertical2:hover, 
.bottom_info_right .quick-wobble-vertical2:focus, 
.bottom_info_right .quick-wobble-vertical2:active {
  -webkit-animation-name: quick-wobble-vertical2;
  animation-name: quick-wobble-vertical2;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2;
}




/* HTML 기본 속성값 초기화, 모든 페이지에 적용 */

html, body, div, span, h1, h2, h3, p, a, img, ul, li, table, tbody, tr, td, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; color: #444; /* font-family: 'Noto Sans', sans-serif; */font-family:'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
 letter-spacing:-0.03em; word-break: keep-all; word-wrap: break-word; font-smoothing: antialiased;}
*, *::before, *::after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

body {line-height: 1.3;}

a {background-color: transparent; color: inherit; font-size: inherit; text-decoration: none;}
a:active, a:hover, a:link {text-decoration: none; outline: none;}

ul, li {list-style: none;}
table {border-collapse: collapse; border-spacing: 0;}
td {vertical-align: middle;}

img {margin:0; border:0;}

:focus {outline: none;}
::-webkit-file-upload-button {-webkit-appearance: button; font: inherit;}
::-webkit-input-placeholder {color: #999 !important; font-family: 'Pretendard', sans-serif; font-size: inherit;}
::-moz-placeholder {color: #999 !important; font-family: 'Pretendard', sans-serif; font-size: inherit;}
:-ms-input-placeholder {color: #999 !important; font-family: 'Pretendard', sans-serif; font-size: inherit;}
:-moz-placeholder {color: #999 !important; font-family: 'Pretendard', sans-serif; font-size: inherit;}


/* font - 한글,특수문자 Noto Sans + 영문,숫자 Roboto */
@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 100;
  src: /* url('/resources/css/font/NotoSansCJKkr-Thin.woff') format('woff'), Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('font/NotoSansCJKkr-Thin.otf') format('opentype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 100;
  src: url('font/Roboto-Thin.html') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('font/Roboto-Thin.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 200;
  src: /* url('/resources/css/font/NotoSansCJKkr-ExtraLight.woff') format('woff'), Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('font/NotoSansCJKkr-ExtraLight.html') format('opentype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 300;
  src: /* url('/resources/css/font/NotoSansCJKkr-Light.woff') format('woff'), Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('font/NotoSansCJKkr-Light.otf') format('opentype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 300;
  src: url('font/Roboto-Light.html') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('font/Roboto-Light.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: /* url('/resources/css/font/NotoSansCJKkr-Regular.woff') format('woff'), Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('font/NotoSansCJKkr-Regular.otf') format('opentype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('font/Roboto-Regular.html') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('font/Roboto-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  src: /* url('/resources/css/font/NotoSansCJKkr-Medium.woff') format('woff'), Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('font/NotoSansCJKkr-Medium.otf') format('opentype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  src: url('font/Roboto-Medium.html') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('font/Roboto-Medium.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  src: /* url('/resources/css/font/NotoSansCJKkr-SemiBold.woff') format('woff'), Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('font/NotoSansCJKkr-SemiBold.html') format('opentype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: /* url('/resources/css/font/NotoSansCJKkr-Bold.woff') format('woff'), Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('font/NotoSansCJKkr-Bold.otf') format('opentype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url('font/Roboto-Bold.html') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('font/Roboto-Bold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 800;
  src: /* url('/resources/css/font/NotoSansCJKkr-ExtraBold.woff') format('woff'), Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('font/NotoSansCJKkr-ExtraBold.html') format('opentype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 900;
  src: /* url('/resources/css/font/NotoSansCJKkr-Black.woff') format('woff'), Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('font/NotoSansCJKkr-Black.otf') format('opentype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 900;
  src: url('font/Roboto-Black.html') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('font/Roboto-Black.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-display: swap;
  font-family: 'GmarketSans';
  font-style: normal;
  font-weight: 300;
  src: url('font/GmarketSansLight.ttf') format('truetype'),
       url('font/GmarketSansLight.woff') format('woff'),
       url('font/GmarketSansLight.otf') format('opentype');
}
@font-face {
  font-display: swap;
  font-family: 'GmarketSans';
  font-style: normal;
  font-weight: 500;
  src: url('font/GmarketSansMedium.ttf') format('truetype'),
       url('font/GmarketSansMedium.woff') format('woff'),
       url('font/GmarketSansMedium.otf') format('opentype');
}
@font-face {
  font-display: swap;
  font-family: 'GmarketSans';
  font-style: normal;
  font-weight: 700;
  src: url('font/GmarketSansBold.ttf') format('truetype'),
       url('font/GmarketSansBold.woff') format('woff'),
       url('font/GmarketSansBold.otf') format('opentype');
}


@font-face {
  font-family: "RixGoH";
  src: url("font/RixGoH.eot"); /* IE9 Compat Modes */
  src: url("font/RixGoH.eot") format("embedded-opentype"), /* IE6-IE8 */
     url("font/RixGoH.otf") format("opentype"), /* Open Type Font */
     url("font/RixGoH.ttf") format("truetype"), /* Safari, Android, iOS */
     url("font/RixGoH.woff") format("woff"); /* Modern Browsers */

}

@font-face {
  font-family: "RixGoL";
  src: url("font/RixL.eot"); /* IE9 Compat Modes */
  src: url("font/RixL.eot") format("embedded-opentype"), /* IE6-IE8 */
     url("font/RixL.otf") format("opentype"), /* Open Type Font */
     url("font/RixL.ttf") format("truetype"), /* Safari, Android, iOS */
     url("font/RixL.woff") format("woff"); /* Modern Browsers */

}
@font-face {
  font-family: "RixGoBK";
  src: url("font/RixGoBK.eot"); /* IE9 Compat Modes */
  src: url("font/RixGoBK.eot") format("embedded-opentype"), /* IE6-IE8 */
     url("font/RixGoBK.otf") format("opentype"), /* Open Type Font */
     url("font/RixGoBK.ttf") format("truetype"), /* Safari, Android, iOS */
     url("font/RixGoBK.woff") format("woff"); /* Modern Browsers */

}

@font-face {
  font-family: "RixGoR";
  src: url("font/RixGoR.eot"); /* IE9 Compat Modes */
  src: url("font/RixGoR.eot") format("embedded-opentype"), /* IE6-IE8 */
     url("font/RixGoR.otf") format("opentype"), /* Open Type Font */
     url("font/RixGoR.ttf") format("truetype"), /* Safari, Android, iOS */
     url("font/RixGoR.woff") format("woff"); /* Modern Browsers */

}

@font-face {
  font-family: "RixM";
  src: url("font/RixM.eot"); /* IE9 Compat Modes */
  src: url("font/RixM.eot") format("embedded-opentype"), /* IE6-IE8 */
     url("font/RixM.otf") format("opentype"), /* Open Type Font */
     url("font/RixM.ttf") format("truetype"), /* Safari, Android, iOS */
     url("font/RixM.woff") format("woff"); /* Modern Browsers */

}

@font-face {
  font-family: "RixGoB";
  src: url("font/RixGoB.eot"); /* IE9 Compat Modes */
  src: url("font/RixGoB.eot") format("embedded-opentype"), /* IE6-IE8 */
     url("font/RixGoB.otf") format("opentype"), /* Open Type Font */
     url("font/RixGoB.ttf") format("truetype"), /* Safari, Android, iOS */
     url("font/RixGoB.woff") format("woff"); /* Modern Browsers */

}


@font-face {
  font-family: "RixGoEB";
  src: url("font/RixGoEB.eot"); /* IE9 Compat Modes */
  src: url("font/RixGoEBd41d.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("font/RixGoEB.otf") format("opentype"), /* Open Type Font */
    url("font/RixGoEB.ttf") format("truetype"), /* Safari, Android, iOS */
    url("font/RixGoEB.woff") format("woff"); /* Modern Browsers */

}


